<% content_for(:title, "Epiclonus") %>
<h4>
  <%= @chapter.title %>
</h4>
  <%= link_to edit_chapter_path(@chapter) do %> Edit <% end %>
  <%= link_to chapter_path(@chapter), :data => {:confirm =>'Send into digital oblivion.', :method => 'delete'} do %> Delete <% end %>

  <%= link_to new_chapter_section_path(@chapter) do %>
  Add Section
  <% end %>

  <% if @chapter.sections.any? %>
    <h4>Sections:</h4>

    <ul>
      <% @chapter.sections.each do |section| %>
      <li><%= link_to section.title, chapter_section_path(@chapter, section) %> |
        <ul>
          <% section.lessons.each do |lesson| %>
          <li><%=  lesson.title %> </li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>

  <% else %>

  <p>No sections. </p>

  <% end %>
